

body{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: darkblue;
    font-size: 70px;
    font-style: unset;
    font-weight: bold;
}
.logo{
    color: blue;
    font-size: 33px;
}
.menu{
 display: inline-block;
 text-decoration: none;

 
 
 
}

a{
    color: grey;
    text-decoration: none;
    font-size: medium;
    padding: 10px;
    display: inline-block;
    
    
}

a:hover{
    background-color: cornflowerblue;
}

.foto{
    position:absolute;
    left: 700px;
    top: 200px;

}

.fotologos{
    display: block;
    position:absolute;
    left: 0x;
    top: 820px;
    width: 100px;
}
.loc{
    display: ;
}

.d{
    display: inline;
    
}

.contenedor{
    display: flex;
    position: relative;
    top: -400px;
    left: 50px;
    
}